<?xml version="1.0" ?>
<model>
    <name>swarm_robot</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Mayank Roy</name>
        <email>roymayank@gmail.com</email>
    </author>
    <description>Basic robot model for applying sensors and testing codes for Swarm Robotics Project at IIT Kharagpur</description>
</model>
